@{
    // quản lý các liên kết điều hướng liên quan đến đăng nhập, 
    //đăng ký và quản lý tài khoản người dùng trong giao diện web
}

@using Microsoft.AspNetCore.Identity
@using Razorpage.models

@inject SignInManager<AppUser>  SignInManager
@inject UserManager<AppUser>    UserManager

@{
    //thuộc tính User này có trong các view, page model, controller
    //SignInManager.IsSignedIn(User)        //kiểm tra user này đăng nhập hay ko trả về true,false
    //UserManager.GetUserName(user)         //lấy tên của user
}


<ul class="navbar-nav">

    @if(SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                @UserManager.GetUserName(User)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
</ul>   
