@page
@using Razorpage.models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Article>? posts= ViewData["posts"] as List<Article>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(posts != null && posts.Any())
{
    <ol>
    @foreach(var p in posts)
    {
        <li>@p.Title</li>
    }
    </ol>
}
